<div class="container">
  <h1>Details on <%= @flat.name %></h1>
  <ul>
    <li>Address: <%= @flat.address %></li>
    <li>Description: <%= @flat.description %></li>
    <li>Price per night: <%= @flat.price_per_night %></li>
    <li>Number of guests: <%= @flat.number_of_guests %></li>
  </ul>
</div>
